[Unit]
Description=sshuttle daemon

[Service]
Type=forking
PIDFile=/var/run/sshuttled/pid
ExecStart=/usr/local/bin/sshuttled
User=sshuttled

[Install]
WantedBy=multi-user.target
